* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
}

.show {
    display: block;
}

.hide {
    display: none !important;
}

.title {
    display: block;
    position: relative;
    left: calc(50% - 103px);
    font-size: 21px;
    margin-bottom: 20px;
    max-width: 245px;
}

.puzzle_block {
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    align-content: end;
}
.puzzle_piece {
   position: relative;  
}
.btn {
    display: block;
    margin: 25px auto;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 0.8em 2em calc(.8em + 3px);
    border-radius: 25px;
    background: rgb(64, 138, 199);
    transition: 0.2s;
    font-size: 19px;
}

.btn-hover {
    display: block;
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 25px auto;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btn-hover.color-2 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.btn-hover.color-3 {
    background-image: linear-gradient(to left, #e1252e, #e44040, #dd3030, #b62b2b);
    box-shadow: 0 4px 15px 0 rgba(196, 49, 61, 0.75);
}
.timer {
    position: relative;
    width: 60px;
    height: auto;
    text-align: center;
    background: #000;
    color: #fff;
    font-size: 25px;
    margin: auto;
    left: 185px;
    bottom: 60px;
    cursor: default;
}
.tooltipImage {
    width: 800px;
    height: 400px;
    position: relative;
    margin: 20px auto;
    /*background-image: url('../img/mountain.png');*/
}

.puzzle_piece span {
    position: absolute;
    cursor: pointer;
    color: #ffffff;
}

.difficulty {
    left: calc(50% - 236px);
    position: relative;
    display: flex;
    cursor: pointer;
    max-width: 245px;
}
.difficulty span {
    font-size: 19px;
    margin-top: 1%;
}

.difficulty li {
    cursor: pointer;
    margin-left: 20px;
    list-style: none;
}

.difficulty li:hover { 
    color: #76bc21;
}
.difficulty li {
    cursor: pointer;
    font-family: "Trebuchet MS", "Lucida Sans";
    padding: 7px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 10px solid #f05d22; 
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
        -2px -2px 5px 0 rgba(0,0,0,.1),
    2px 2px 5px 0 rgba(0,0,0,.1),
    -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
}

.difficulty li:nth-child(2) {
    border-color: #8bc63e;
}

.difficulty li:nth-child(3) {
    border-color: #1ccfc9;
} 

.difficulty li:nth-child(4) {
    border-color: #e21123;
}

.up {
    top: 10%;
    left: calc(50% - 10px);
}

.right {
    bottom: calc(50% - 9px);
    right: 5%;
}
.down {
    bottom: 10%;
    left: calc(50% - 20px);
}
.left {
    bottom: calc(50% - 9px);
    left: 5%;
}