* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.puzzle_block {
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    align-content: end;
}
.puzzle_piece {
   width: 100px;
   height: 200px;
   background-color: rgba(0, 0, 0, 1);
   position: relative; 
}
.btn {
    display: block;
    margin: 25px auto;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 0.8em 2em calc(.8em + 3px);
    border-radius: 25px;
    background: rgb(64, 138, 199);
    transition: 0.2s;
    font-size: 19px;
}

.btn-hover {
    display: block;
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 25px auto;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btn-hover.color-2 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.timer {
    position: relative;
    width: 60px;
    height: auto;
    text-align: center;
    background: #000;
    color: #fff;
    font-size: 25px;
    left: 800px;
    bottom: 70px;
    cursor: default;
}
.tooltipImage {
    width: 800px;
    height: 400px;
    position: relative;
    margin: 20px auto;
    background: url('../img/mountain.png');

}
.show {
    display: block;
}

.hide {
    display: none;
}
span {
    cursor: pointer;
    color: #ffffff;
}

.up {
    position: absolute;
    top: 10%;
    left: calc(50% - 10px);
}

.right {
    position: absolute;
    bottom: calc(50% - 9px);
    right: 5%;
}
.down {
    position: absolute;
    bottom: 10%;
    left: calc(50% - 20px);
}
.left {
    position: absolute;
    bottom: calc(50% - 9px);
    left: 5%;
}

#block1 {
    background: url(../img/mountain.png) 0 0;
}
#block2 {
    background: url(../img/mountain.png) 700px 0;
}
#block3 {
    background: url(../img/mountain.png) 600px 0;
}
#block4 {
    background: url(../img/mountain.png) 500px 0;
}
#block5 {
    background: url(../img/mountain.png) 400px 0;
}
#block6 {
    background: url(../img/mountain.png) 300px 0;
}
#block7 {
    background: url(../img/mountain.png) 200px 0;
}
#block8 {
    background: url(../img/mountain.png) 100px 0;
}
#block9 {
    background: url(../img/mountain.png) 0 200px;
}
#block10 {
    background: url(../img/mountain.png) 700px 200px;
}
#block11 {
    background: url(../img/mountain.png) 600px 200px;
}
#block12 {
    background: url(../img/mountain.png) 500px 200px;
}
#block13 {
    background: url(../img/mountain.png) 400px 200px;
}
#block14 {
    background: url(../img/mountain.png) 300px 200px;
}
#block15 {
    background: url(../img/mountain.png) 200px 200px;
}
#block16 {
    background: url(../img/mountain.png) 100px 200px;
}